
@using Starfleet.Ops.Domain.Rules
@using Starfleet.Ops.Utility
@model Starfleet.Ops.Controllers.GameViewModel

@{
    ViewBag.Title = "Battle";
    Layout = "_Layout";
}
<style>
    .health-box {
        width: 10px;
        height: 10px;
        border: 1px solid #000;
        background-color: green;
        display: inline-block;

    }

    h4 {
        border-bottom: 1px dotted;
    }

    .pawn-status-panel h5 {
        font-family: monospace;
    }

    .health-box.damaged {
        background-color: red;
    }

    .component-list {
        padding: 20px;
    }

    .ship-class-badge {
        float: right;
        margin-right: 10px;
        font-family: monospace;
    }

    .pawn-status-panel {
        padding: 5px;
    }

</style>
<h2>The battle continues.</h2>


@section Scripts
{
    @if (Model.IsGameResuming)
    {
        <script>
            var gsId = '@Html.IdFor(x => x.BrowserGameState)';
            $("#" + gsId).val(localStorage.getItem('gs'));
            $("form").submit();
        </script>
    }
}

@if (Model.IsGameResuming)
{
    using (Html.BeginForm("ResumeGame", "Game"))
    {
        @Html.HiddenFor(x => x.BrowserGameState)
    }
    return;
}

<ul id="panelbar">
    @foreach (var pawn in Model.GameState.Pawns)
    {
        var spec = GameRules.GetShipByCode(pawn.SpecificationCode);
        <li>
            <span class="k-link">
                <span class="ship-class-badge">@spec.Name</span>
                @pawn.Name
            </span>
            <div data-role="async-container">
                @Html.Partial("_Pawn", pawn)
            </div>
        </li>
    }
</ul>

