
@using Starfleet.Ops.Domain.Rules
@using Starfleet.Ops.Utility
@model Starfleet.Ops.Controllers.GameViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<style>
    .health-box {
        width: 25px;
        height: 25px;
        border: 1px solid #000;
        background-color: green;
        display: inline-block;
        margin: 5px;
    }

        .health-box.damaged {
            background-color: red;
        }
</style>
<h2>title</h2>


@section Scripts
{

    @if (Model.IsGameResuming)
    {
        <script>
            var gsId = '@Html.IdFor(x => x.BrowserGameState)';
            $("#" + gsId).val(localStorage.getItem('gs'));
            $("form").submit();
        </script>
    }
    else
    {
        @*<script>
            var gsId = '@Html.IdFor(x => x.ServerGameState)';
            localStorage.setItem('gs', $("#" + gsId).val());

            var gs2Id = '@Html.IdFor(x => x.BrowserGameState)';
            $("#" + gs2Id).val(localStorage.getItem('gs'));



        </script>*@
    }

}

@if (Model.IsGameResuming)
{
    using (Html.BeginForm("ResumeGame", "Game"))
    {
        @Html.HiddenFor(x => x.BrowserGameState)
    }

    return;
}



@*@Html.HiddenFor(x => x.ServerGameState)
@Html.HiddenFor(x => x.BrowserGameState)*@


@foreach (var pawn in Model.GameState.Pawns)
{
    <div data-role="async-container">

            @Html.Partial("_Pawn", pawn)

        
    </div>
}


