@model Starfleet.Ops.Controllers.GameStateSpecificationViewModel

@{
    ViewBag.Title = "Setup Game";
    Layout = "_Layout";
}

<h2>Setup game</h2>


@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.GameName)

    <div class="row">
        <div class="col-md-6">
            <span>Ship Type</span>
        </div>
        <div class="col-md-6">
            <span>Ship Designation</span>
        </div> 
    </div>

    for (int i = 0; i < Model.SelectedShips.Count; i++)
    {
        <div class="row">
            <div class="col-md-6">
                @if (Model.SelectedShips[i].ShipId == null)
                {
                    @Html.DropDownListFor(x => Model.SelectedShips[i].Code, Model.AllShips, null, new { @class = "form-control" })
                }
                else
                {
                    @Html.HiddenFor(x => Model.SelectedShips[i].Code)
                    @Model.AllShips.Single(x => x.Value == Model.SelectedShips[i].Code).Text
                }
            </div>
            <div class="col-md-6">
                @Html.HiddenFor(x => x.SelectedShips[i].ShipId)
                @Html.TextBoxFor(x => x.SelectedShips[i].Name, null, new {@class = "form-control"})
            </div>
           
        </div>
    }
    <input id="refreshButton" type="submit" style="display: none;"/>


    <input type="button" value="Begin Game" id="beginGame"/>
}



@section Scripts
{
    <script>
        $("select").change(function() { $("form").submit() });
        $("#beginGame").click(function () {
            $("form").attr("action",'@Url.Action("BeginGame",new { id = Model.Id})');
            $("form").submit();
        });
        
    </script>
}
